@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
}

html,
body {
    font-family: 'Outfit', sans-serif;
    background: var(--Light-gray);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: var(--White);
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 7px 15px #3333334c;
}

.container img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.container h2 {
    width: 300px;
    font-size: 25px;
    font-weight: 700;
    color: var(--Dark-blue);
    text-align: center;
    margin-bottom: 15px;
}

.container p {
    width: 280px;
    font-size: 17px;
    font-weight: 400;
    text-align: center;
    color: var(--Grayish-blue);
    margin-bottom: 25px;
}

/* This Styling is Responsive to both Desktop and Mobile DEvices */